/* Audio Player Styling */
.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* Adjust as needed */
}

.audio-player audio {
  width: 100%;
  margin-bottom: 10px;
}

.audio-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-btn,
.pause-btn,
.stop-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  cursor: pointer;
}

.play-btn::before {
  content: "\25B6"; /* Play symbol */
}

.pause-btn::before {
  content: "\II"; /* Pause symbol */
}

.stop-btn::before {
  content: "\25A0"; /* Stop symbol */
}

.time-display {
  font-size: 0.8em;
}

.volume-controls {
  display: flex;
  align-items: center;
}

.volume-bar {
  width: 100px;
  height: 8px;
  background-color: #ccc;
  position: relative;
  margin: 0 10px;
}

.volume-level {
  height: 100%;
  background-color: #3498db;
  position: absolute;
  top: 0;
  left: 0;
}

.volume-slider {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
