@import url("../App.css");

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--accent2_bkgd);
  color: var(--primary1);
}

.tab {
  list-style-type: none;
  margin: 20px;
  padding: 0;
}

.button {
  font: 1.5em MontserratBold;
  display: inline;
  float: left;
  background-color: var(--accent2);
  border: 2px solid var(--primary1);
  transition-duration: 0.25s;
  color: var(--primary1);
}
.button:hover {
  background-color: var(--primary1);
  color: var(--accent2);
}
  
.logo {
  font-size: 1.5rem;
}
