:root {
  /* Project Colors, made vars for  */
  --primary1: #073242;
  --primary1_bkgd: #07324288;

  --primary2: #248188;
  --primary2_bkgd: #24818888;

  --accent1: #CC8A1C;
  --accent1_bkgd: #CC8A1C88;

  --accent2: #99C1C0;
  --accent2_bkgd: #99C1C088;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
/*@font-face {font-family: Montserrat; src: url('https://fonts.googleapis.com/css2?family=Montserrat');}*/



/*For App.js----------------------------------------------------------------------------------------------------------*/
.App {
  text-align: center;
  /*background-color: var(--accent1_bkgd);*/
  background-image: url('./assets/logo-notext.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  font-family: Montserrat, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: white;
}

/*Unused Items (for now, may see use later)-----------------------------------------------------------------------------

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
